apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
data:
  fluent.conf: |
    <source>
      @type tail
      path /var/log/containers/snowflake-id-*.log
      pos_file /fluentd/pos/snowflake-id.pos
      tag kube.snowflake
      read_from_head true
      <parse>
        @type none
      </parse>
    </source>

    <match kube.snowflake>
      @type stdout
    </match>
