spring:
  application:
    name: ${APPLICATION_NAME}

  datasource:
    url: jdbc:postgresql://${DATASOURCE_HOST}:${DATASOURCE_PORT}/${DATASOURCE_NAME}

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

snowflake-settings:
  starting-epoch: ${STARTING_EPOCH}
  datacenter-id: ${DATACENTER_ID}
  worked-id: ${WORKER_ID}

management:
  endpoints:
    web:
      base-path: /management
      path-mapping:
        health: health
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
      show-components: always
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
