spring:
  application:
    name: ${APPLICATION_NAME}

snowflake-settings:
  starting-epoch: ${STARTING_EPOCH}
  datacenter-id: ${DATACENTER_ID}
  worked-id: ${WORKED_ID}

management:
  endpoints:
    web:
      base-path: /management
      path-mapping:
        health: health
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
      show-components: always
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
