apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}
spec:
  selector:
    app: {{ .Chart.Name }}
  ports:
    - port: {{ .Values.postgres.db.port }}
      targetPort: {{ .Values.postgres.db.port }}
      protocol: TCP
  clusterIP: None
